<% page_title "Listing batches" %>

<table>
  <tr>
    <th>ID</th>
    <th>Manage</th>
  </tr>

  <% @batches.each do |batch| %>
    <tr>
      <td><%= batch.id %></td>
      <td>
        <%= link_to 'Show', batch %> |
        <%= link_to 'Edit', edit_batch_path(batch) %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New batch', new_batch_path %>