<% page_title "Listing batches" %>

<table>
  <tr>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= link_to 'Show', batch %></td>
    <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
    <td><%= link_to 'Destroy', batch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New batch', new_batch_path %>