<% page_title "Listing batches" %>

<p>
<%= link_to 'New batch', new_batch_path %>
</p>

<table>
  <tr>
    <th>ID</th>
    <th>Created</th>
    <th>Manage</th>
  </tr>

  <% @batches.each do |batch| %>
    <tr>
      <td><%= batch.id %></td>
      <td><%= batch.created_at.strftime("%m/%d/%Y %I:%M %p").downcase %></td>
      <td>
        <%= link_to 'Show', batch %>
      </td>
    </tr>
  <% end %>
</table>
